<table class="table">
<h2><%= @posts.title %>詳細画面</h2>
<thead>
<th>id</th>
<th>タイトル</th>
<th>詳細</th>
<th>登録日時</th>
</thead>
<tr>
<td><%= @posts.id %></td>
<td><%= @posts.title %></td>
<td><%= @posts.body %></td>
<td><%= @posts.created_at %></td>
<td><%= link_to '編集', edit_post_path ,class: 'btn btn-primary' %></td>
</tr>
</table>